*{word-wrap:break-word;}
body,input,button,select,textarea{font:12px/1.5 'Microsoft Yahei','Simsun';color:#444;}
textarea{resize:none;}
body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,.pr,.pc{margin:0;padding:0;}
table{empty-cells:show;border-collapse:collapse;}caption,th{text-align:left;font-weight:400;}
dl,ul li,.xl li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:1em;}
em,cite,i{font-style:normal;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}

table{border-collapse:collapse;border-spacing:0;}
input{outline: none;}/* 屏蔽文本框高亮 */
textarea {outline: none;} 
/* 清理浮动 */
.clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clear {zoom:1; /* for IE6 IE7 */}
.clear5{ clear:both; height:5px;}
.clear10{ clear:both; height:10px;}
.clear20{ clear:both; height:20px;}
/*去掉超链接虚线框*/
a{outline:none;}
a:active{noOutline:expression(this.onFocus=this.blur());}
:focus{outline:0;}

.fl{ float:left;}
.fr{ float:right;}

.contain{ width:940px; margin:0 auto;}
.header{ width:940px; height:129px; background:url(../images/top.jpg) no-repeat;}
	.header a{ display:inline-block; cursor:pointer;}
	.header a:hover{opacity:0.7;filter:alpha(opacity=70);}
	
.hd_home{ float:left; width:160px;}
	.hd_home a{ margin:77px 0 0 120px; width:40px; height:15px;}
	
.hd_left{ float:left; width:227px;}
	.hd_left a{ margin:77px 0 0 30px; width:140px; height:15px;}
	
.hd_logo{ float:left; width:164px;}
	.hd_logo a{ width:164px; height:129px;}

.hd_first{ float:left; width:125px;}
	.hd_first a{ margin:77px 0 0 38px; width:87px; height:15px;}
	
.hd_right{ float:left; width:264px;}
	.hd_right a{ margin:77px 0 0 38px; width:138px; height:15px;}
	
.banner1{ width:940px; height:287px; background:url(../images/banner.jpg) no-repeat;}
.product{ width:845px; height:200px; background:url(../images/product.jpg) no-repeat; padding:15px 45px 0 50px;}
	.pro_num{ float:right; height:12px; line-height:12px; color:#6f3e15; font-size:12px;}
	
		.Div1_title span{float:right;display:block;height: 20px;}
		.Div1_title span b , .Div1_title span a{display:block;float:left;}
		.Div1_title span b , .Div1_title span b img{width:11px;height:11px;}
		.Div1_title span b img{cursor:pointer;}
		.Div1_prev{padding:2px 10px 0 0;}
		.Div1_next{padding:2px 0 0 0px;}
		.Div1_title span a{font-size:12px;margin-right:10px; color:#6f3e15;}
		.Div1_title span a:hover{color:#f34d01;}
		.Div1_title span a.Div1_title_a1{color:#f34d01;}
		
	.pro_box{ width:750px; height:146px;overflow:hidden;position:relative; float:left;}
		.Div1_main{height:146px;width:10000px;overflow:hidden;position:relative;}
		.Div1_main div{width:750px;height:146px;float:left;}
		.Div1_main div span{width:250px;height:146px;display:block;float:left;}
	
		.Div1_main_a1{ float:left; display:inline-block; margin-right:10px;}
		.Div1_main_a1 , .Div1_main_a1 img{width:109px;height:140px;}
		.Div1_main div span b{display:block;padding-left:10px;color:#6f3e15; font-weight:normal; font-size:14px;}
		.Div1_main div span p{line-height:30px;color:#6f3e15;}
		.Div1_main div span a.Div1_main_a2{background:url(../images/btn_toupiao.png) no-repeat;width:80px;height:24px; display:inline-block; margin:50px 0 0 0;}
		.Div1_main div span a.Div1_main_a2:hover{opacity:0.7;filter:alpha(opacity=70);}
		
		
		
		.Div1_prev1 ,.Div1_next1{display:block;width:28px;height:44px;cursor:pointer;}
		.Div1_prev1 img ,.Div1_next1 img{width:28px;height:44px;}
		.Div1_prev1:hover ,.Div1_next1:hover{opacity:0.7;.filter:alpha(opacity=70)}
		.Div1_prev1{ float:left; margin:50px 0 0 0;}
		.Div1_next1{ float:left; margin:50px 0 0 25px;}
	
	.pro_all{ float:right; width:133px; height:14px;}
	.pro_all a{ display:inline-block; width:133px; height:14px; background:url(../images/btn_all.png) no-repeat;}
	.pro_all a:hover{opacity:0.7;filter:alpha(opacity=70);}
	
.hdsm{ width:940px; height:305px; background:url(../images/hdsm.jpg) no-repeat;}
.phb{ width:940px; height:718px; background:url(../images/phb.jpg) no-repeat;}
	.phb_left{ float:left; width:450px;}
		ul.ul_phb{ padding:107px 0 0 29px;}
		ul.ul_phb li{ width:396px; height:194px;}
		ul.ul_phb li div.divimg{ float:left; padding:1px; border:#b09375 1px solid; width:140px; height:182px;}
		ul.ul_phb li div.divimg img{ width:140px; height:182px;}
		ul.ul_phb li div.divimg a img{ border:0;}
		ul.ul_phb li div.divinfo{ float:left; width:215px; padding-left:31px;}
		ul.ul_phb li div.divinfo h2{ color:#6f3e15; font-size:18px; font-weight:normal; padding-left:35px; height:20px; line-height:20px; margin:20px 0 0 0;}
		ul.ul_phb li.one div.divinfo h2{ background:url(../images/icon_one.png) left center no-repeat;}
		ul.ul_phb li.two div.divinfo h2{ background:url(../images/icon_two.png) left center no-repeat;}
		ul.ul_phb li.three div.divinfo h2{ background:url(../images/icon_three.png) left center no-repeat;}
		ul.ul_phb li div.divinfo .btn_djtp{ width:105px; height:29px; margin:30px 0 10px 0;}
		ul.ul_phb li div.divinfo .btn_djtp a{width:105px; height:29px; display:inline-block; background:url(../images/btn_djtp.png) no-repeat;}
		ul.ul_phb li div.divinfo .btn_djtp a:hover{opacity:0.7;filter:alpha(opacity=70);}
		ul.ul_phb li div.divinfo .num_tp{ color:#391b0f; font-size:14px;}
		
		.btn_more{ float:right; width:77px; height:17px;}
			.btn_more a{ display:inline-block; width:77px; height:17px; background:url(../images/btn_more.png) no-repeat;}
			.btn_more a:hover{opacity:0.7;filter:alpha(opacity=70);}
		
	.phb_right{ float:left; width:490px;}
		.btn_join{ padding:391px 0 0 150px; width:220px; height:49px;}
			.btn_join a{ display:inline-block; width:220px; height:49px; background:url(../images/btn_join.png) no-repeat;}
			.btn_join a:hover{opacity:0.7;filter:alpha(opacity=70);}
		.btn_num{ width:189px; height:64px; padding:40px 0 0 180px; text-align:center; line-height:64px; font-size:50px; font-weight:800; color:#000;}
		.btn_img{ padding:45px 0 0 45px;}
.wbry{ width:940px; height:410px; background:url(../images/wbry.jpg) no-repeat; padding:138px 0 0 0;}
	.wbry_left{ float:left; width:470px;}
	.wblist{ width:390px; text-align:left;}
		.wblist li{ float:left;}
		.wblist li.liimg{ width:50px; height:50px; margin-right:10px;}
		.wblist li.liimg img{ width:50px; height:50px;}
		.wblist li.lidiv{ float:left; width:310px; padding:10px; min-height:100px; background:#fff;}
	.wbry_right{ float:left; width:470px;}

/*2014-8-18*/
.banner2{ width:940px; height:244px; background:url(../images/banner2.jpg) no-repeat;}
.toupiao{ width:940px; margin:0 auto;}
	.tp_title{ width:940px; height:128px; background:url(../images/tp_title.jpg) no-repeat;}
	.tp_con{ width:940px; background:url(../images/tp_con1.jpg) repeat-y;}
		.tp_con_box{ width:940px; background:url(../images/tp_con2.jpg) bottom no-repeat;}
			.tplist{ width:840px; margin:0 auto;}
			.tplist li{ float:left; width:250px; height:400px; background:url(../images/tplibg.png) no-repeat; margin:0 15px 10px;}
				.tplist li dl{ width:222px; margin:0 auto;}
				.tplist li dl dt{ width:190px; height:24px; line-height:24px; background:url(../images/icon_jd.png) left center no-repeat; color:#b09375; font-size:18px; margin:12px auto 5px; padding:6px 0 0 32px;}
				.tplist li dl dd.ddimg{ width:222px; height:286px; margin:0 auto;}
				.tplist li dl dd.ddinfo{ width:202px; height:28px; background:url(../images/infobox.jpg) no-repeat; margin:6px auto 0; padding:10px;}
				.tplist li dl dd.ddinfo a.btn_tp{ float:left; width:82px; height:28px; background:url(../images/btn_tp.jpg) no-repeat; display:inline-block; margin:0 10px 0 0;}
				.tplist li dl dd.ddinfo a.btn_tp:hover{opacity:0.7;filter:alpha(opacity=70);}
				.tplist li dl dd.ddinfo span{ float:left; height:24px; line-height:24px; background:url(../images/icon_fg.jpg) left center no-repeat; padding:4px 0 0 12px; color:#fa6f57; font-size:13px;}
				
				/*分页*/
				.page{ width:820px; margin:0 auto;}
				div.meneame{ float:right; padding:3px;font-size:80%;margin:3px;color:#ff6500;text-align:center;}
				div.meneame a{ width:28px; height:28px; line-height:28px; display:inline-block; background:url(../images/icon_page.jpg) no-repeat;margin:0 3px 0 0;text-decoration:none; color:#fff;}
				div.meneame a:hover{ width:28px; height:28px; line-height:28px; display:inline-block;color:#fff; margin:0 3px 0 0;background:url(../images/icon_pageon.jpg) no-repeat;}
				div.meneame a:active{ width:28px; height:28px; line-height:28px; display:inline-block;color:#fff; margin:0 3px 0 0;background:url(../images/icon_pageon.jpg) no-repeat;}
				div.meneame span.current{ width:28px; height:28px; line-height:28px; display:inline-block;color:#fff; margin:0 3px 0 0;background:url(../images/icon_pageon.jpg) no-repeat;}
				div.meneame span.disabled{border:#ffe3c6 1px solid; width:26px; height:26px; display:inline-block; line-height:26px; color:#ffe3c6; margin:0 3px 0 0;}

	.tp_foot{ width:940px; height:198px; background:url(../images/tp_foot.jpg) no-repeat;}
	

/*2014-8-19*/
.banner3{ width:940px; height:440px; background:url(../images/banner3.jpg) no-repeat;}
.time{ width:940px; height:107px; background:url(../images/time.jpg) no-repeat;}
	.ultime{ width:840px; padding:0 0 0 50px;}
	.ultime li{ float:left; width:120px; height:107px; background:url(../images/icon_time.png) center no-repeat; margin-right:120px;}
	.ultime li:hover{ float:left; height:107px; background:url(../images/icon_timeon.png) center no-repeat;}
	.ultime li a{ display:inline-block; width:120px; height:107px;}
	.ultime li.last{ margin-right:0}
	
.adbox{ width:940px;}
	.adtitle{ width:940px; height:99px;background:url(../images/hahatitle.jpg) center no-repeat;}
	.adcon{ width:832px; height:521px; background:url(../images/adcon.jpg) center no-repeat; padding:20px 0 0 108px;}
	
.sjbox{ width:940px;}
	.sjtitle{ width:940px; height:106px;background:url(../images/sjtitle.jpg) center no-repeat;}
	.sjcon{ width:940px; height:615px; background:url(../images/sjcon.jpg) center no-repeat;}
	.sjcon a{ text-decoration:none;}
	
/*--------- slider ---------*/
#slide{width:550px;height:330px;position:relative;overflow:hidden;padding:8px 10px; background:url(../images/sliderbg.jpg) no-repeat;z-index:2;margin:0 auto;}

.gallery{
	width:550px;
	position:relative;
	z-index:2
}
.items{display:none;}

.pag{width:550px;padding:0;margin:0 auto;position:relative;}
.img-pags{position:static;left:0px;z-index:1;display:block;}
.img-pags ul{margin:0}
.img-pags li{margin:0 5px 0 0;height:86px;width:136px;}
.img-pags li a{position:relative;display:block;padding:1px; border:#6f3e15 1px solid;}
.img-pags li a img{opacity:.6;}
.img-pags li a span{display:block;background:#000;}
.img-pags li.active a,.img-pags li a:hover{}
.img-pags li.active a img,.img-pags li a:hover img{opacity:1;}
.prev{
	display:block;
	position:absolute;
	z-index:15;
	bottom:35px;
	right:180px;
	text-decoration:none;
	border:1px solid #DDD;
	padding:7px 11px 6px;
	text-shadow:0 1px 1px white;
	box-shadow:0 1px 1px #fff;
	font:bold 11px Sans-Serif;
	white-space:nowrap;
	vertical-align:middle;
	color:#666;
	background:transparent;
	cursor:pointer;
	border-color:#ddd;
	border-radius:3px;
	background:-webkit-linear-gradient(top, white, #E0E0E0);
	background:-moz-linear-gradient(top, white, #E0E0E0);
	background:-ms-linear-gradient(top, white, #E0E0E0);
	background:-o-linear-gradient(top, white, #E0E0E0);
	background:linear-gradient(top, white, #E0E0E0);
	-pie-background:linear-gradient(top, white, #E0E0E0);
	box-shadow:0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}
.prev:hover{color:#999}
.next{
	display:block;
	position:absolute;
	z-index:15;
	bottom:35px;
	right:143px;
	text-decoration:none;
	border:1px solid #DDD;
	padding:7px 11px 6px;
	text-shadow:0 1px 1px white;
	box-shadow:0 1px 1px #fff;
	font:bold 11px Sans-Serif;
	white-space:nowrap;
	vertical-align:middle;
	color:#666;
	background:transparent;
	cursor:pointer;
	border-color:#ddd;
	border-radius:3px;
	background:-webkit-linear-gradient(top, white, #E0E0E0);
	background:-moz-linear-gradient(top, white, #E0E0E0);
	background:-ms-linear-gradient(top, white, #E0E0E0);
	background:-o-linear-gradient(top, white, #E0E0E0);
	background:linear-gradient(top, white, #E0E0E0);
	-pie-background:linear-gradient(top, white, #E0E0E0);
	box-shadow:0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}
.next:hover{
	color:#999
}
.move_left{left:-40px;top:20px; width:28px; height:44px; display:block;position:absolute;z-index:15;text-decoration:none;background:transparent url(../images/icon_left.png) no-repeat;cursor:pointer;}
.move_right{left:570px;top:20px; width:28px; height:44px; display:block;position:absolute;z-index:15;text-decoration:none;background:transparent url(../images/icon_right.png) no-repeat;cursor:pointer;}

	
.play{
	display:block;
	position:absolute;
	z-index:15;
	text-decoration:none;
	position:absolute !important;bottom:36px;right:20px;z-index:99;width:23px;height:15px;text-align:center;
	text-decoration:none;
	border:1px solid #DDD;
	padding:6px 10px 5px;
	text-shadow:0 1px 1px white;
	box-shadow:0 1px 1px #fff;
	font:bold 11px Sans-Serif;
	white-space:nowrap;
	vertical-align:middle;
	color:#666;
	background:transparent;
	cursor:pointer;
	border-color:#ddd;
	border-radius:3px;
	background:-webkit-linear-gradient(top, white, #E0E0E0);
	background:-moz-linear-gradient(top, white, #E0E0E0);
	background:-ms-linear-gradient(top, white, #E0E0E0);
	background:-o-linear-gradient(top, white, #E0E0E0);
	background:linear-gradient(top, white, #E0E0E0);
	-pie-background:linear-gradient(top, white, #E0E0E0);
	box-shadow:0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}
.play span{display:none;}
.play em{font-style:normal;display:block;}
.paused span{display:block;}
.paused em{display:none;}
.banner{width:260px;overflow:hidden;position:absolute;top:200px;color:#fff;right:0px;z-index:15;background:url(../images/png.png) left top repeat;padding:0px;border-radius:10px 0 0 10px;-moz-border-radius:10px 0 0 10px;-webkit-border-radius:10px 0 0 10px;}
.banner span{display:none;}

.progbar{
	background:#000;
	width:100%;
	height:2px;
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:999;
}
.numStatus{
	display:block;
	padding:6px 10px 6px;
	position:absolute;
	z-index:15;
	bottom:10px;
	right:75px;
	text-align:center;
	text-decoration:none;
	border:1px solid #DDD;
	text-shadow:0 1px 1px white;
	box-shadow:0 1px 1px #fff;
	font:bold 11px Sans-Serif;
	white-space:nowrap;
	vertical-align:middle;
	color:#666;
	background:transparent;
	cursor:pointer;
	border-color:#ddd;
	border-radius:3px;
	background:-webkit-linear-gradient(top, white, #E0E0E0);
	background:-moz-linear-gradient(top, white, #E0E0E0);
	background:-ms-linear-gradient(top, white, #E0E0E0);
	background:-o-linear-gradient(top, white, #E0E0E0);
	background:linear-gradient(top, white, #E0E0E0);
	-pie-background:linear-gradient(top, white, #E0E0E0);
	box-shadow:0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}
/*-------- end slider -----------*/